# Python environment
venv/
myenv/

# Data files
data/
src/tests_all
src/tests/results
app/public/analysis
app/src/Extra_Pages/
.env
output/

# Model
models/

# Extra
src/Extra/Codebase-tried/audio-files/
src/Extra/emotion-detection-training/Emotion_Speech_Dataset/
src/Extra/emotion-detection-training/models/
src/Extra/emotion-detection-training/test_data/

# Jupyter notebook checkpoints
**/.ipynb_checkpoints

# OS-specific junk
.DS_Store
Thumbs.db

# Cache & logs
__pycache__/
*.log