# Python environment
venv/
myenv/

# Data files
data/
src/tests/
src/tests_all

# Jupyter notebook checkpoints
**/.ipynb_checkpoints

# OS-specific junk
.DS_Store
Thumbs.db

# Cache & logs
__pycache__/
*.log